<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="magetop" translate="label" sortOrder="1">
            <label>Magetop.com</label>
        </tab>
    </system>
</config>
